#all {
 border-radius: 4px 4px 4px 4px;
 width: 100%;
 height: 100%;
 background: white;
}
#left {
 border-radius 4px 4px 4px 4px;
 float: left;
 width: 70%;
 height : 100%;
 background: red;
}
#me {
 border-radius:4px 4px 4px 4px;
 margin: 2%;
 width: 96%;
 height: 10%;
 background: yellow;
}

#chat {
 border-radius:4px 4px 4px 4px;
 padding: 5px;
 margin: 2%;
 width: 96%;
 height: 65%;
 background:black ;
 color: white;
 overflow-y: scroll
}

#chatroom {
 border-radius:4px 4px 4px 4px;
 margin: 2%;
 padding: 5px;
 width: 96%;
 height: 80%;
 background: orange;
}

#write {
 border-radius:4px 4px 4px 4px;
 margin: 2%;
 padding: 5px;
 width: 96%;
 height: 12%;
 background: blue;
}

#logged {
 border-radius:4px 4px 4px 4px;
 float: right;
 width: 25%;
 height: 92%;
 margin: 2%;
 padding: 5px;
 background: green;
}

#text {
 padding: 2%;
}


body {
 background: grey;
}
